@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto';
}

section.vh-100 {
    background-image: url("../img/login-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-weight: 600;
}

#remember-me {
    font-weight: 400;
}

#check {
    box-shadow: none;
    border-radius: 0px;
}

a#register-here {
    font-weight: 600;
}

p#dhac {
    font-weight: 400;
}

.form-floating label {
    color: #001E50;
    font-weight: 400;
}

input.form-control {
    border-radius: 0px;
    border-color: #001E50;
    font-weight: 400;
}

input.form-control:focus {
    border-width: 3px;
    box-shadow: none;
}

.card {
    border-radius: 0;
    box-shadow: 0px 10px 50px 0.5px black
}

button.btn {
    border: 2px solid transparent;
    background-color: #001E50;
    color: white;
    border-radius: 0px;
    padding: 0.5rem 3rem;
}

button.btn:hover {
    border: 2px solid #001E50;
    background-color: transparent;
    color: #001E50;
}

button.btn:focus {
    box-shadow: none;
}