@using CarShop.Core.Models
@model IEnumerable<BrandCardViewModel>
@{
	ViewData["Title"] = "Brands";
}

<link rel="stylesheet" href="~/css/style/brands-style.css">

<div class="main">
	<div class="header">
		<h1>Partners</h1>
	</div>

	<div class="brands">
		<h2>Choose between high-quality brands</h2>

		@foreach (var brand in Model)
		{
			<a asp-controller="Cars" asp-action="ByBrand" asp-route-id="@brand.Id">
				<img src="@brand.ImageUrl" alt="">
			</a>
		}
	</div>
</div>