@model UserDisplayInNavigationModel
@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/brands-circle.css"/>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="~/img/porche.jpg" class="d-block w-100" alt="..." height="500px">
		</div>
		<div class="carousel-item">
			<img src="~/img/bentley.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="~/img/lambo.webp" class="d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="main" style="padding: 50px;">
	<div class="ctr">
		<div class="logos">
			<a asp-area="" asp-controller="Brands" asp-action="All" class="center-of-circle">
				<img src="~/img/logos/volkswagen.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="first">
				<img src="~/img/logos/porsche.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="second">
				<img src="~/img/logos/lamborghini.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="third">
				<img src="~/img/logos/bugatti.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="forth">
				<img src="~/img/logos/ducati.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="fifth">
				<img src="~/img/logos/bentley.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="sixth">
				<img src="~/img/logos/audi.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="seventh">
				<img src="~/img/logos/skoda.png">
			</a>
			<a asp-area="" asp-controller="Brands" asp-action="All" class="logo" id="eight">
				<img src="~/img/logos/seat.png">
			</a>
		</div>
	</div>
	<h1>Drive whatever you want from all brands inside ‘Volkswagen Group’.</h1>
</div>

<script src="~/js/brands-circle-app.js"></script>