@using CarShop.Core.Constants
@using CarShop.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav justify-content-end">
	<li class="nav-item">
		<a class="nav-link" asp-controller="Cars" asp-action="All">Stock</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-controller="Brands" asp-action="All">Brands</a>
	</li>

	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
				@User.Identity?.Name
			</a>
		</li>

		@if (User.IsInRole(UserConstants.Roles.Administrator))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="ManageUsers">Manage Users</a>
			</li>
		}

		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
	}
</ul>
