@using CarShop.Core.Constants
@using CarShop.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	var user = string.Empty;

	if (User.Identity.IsAuthenticated)
		user = UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier)).Result.FirstName;
}

<ul class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-controller="Cars" asp-action="All">Stock</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-controller="Brands" asp-action="All">Brands</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
	</li>
</ul>

<ul class="nav justify-content-end">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Personal">My Orders</a>
		</li>

		@if (User.IsInRole(UserConstants.Roles.Administrator))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="ManageUsers">Manage Users</a>
			</li>
		}
		@if (User.IsInRole(UserConstants.Roles.Employee))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Emp" asp-controller="Cars" asp-action="Create">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
					</svg>
					Create Car
				</a>
			</li>
		}

		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
						<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
					</svg>
					Logout
				</button>
			</form>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
					<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
				</svg>
				@user
			</a>
		</li>
	}
	else
	{
		//<li class="nav-item">
		//	<a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About</a>
		//</li>
		//<li class="nav-item">
		//	<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
				//</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
	}
</ul>
