@{
	ViewData["Title"] = "Successful Order";
}

<div class="text-center">
	<h1 class="display-4">Successfully made order!</h1>
</div>
<div class="text-center">
	<a asp-area="" asp-controller="Cars" asp-action="All" type="button" class="btn btn-primary">Continue Searching</a>
</div>
