@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="display-4">Something went wrong!</h1>
</div>
<div class="text-center">
	<a asp-area="" asp-controller="Cars" asp-action="All" type="button" class="btn btn-primary">Try again</a>
</div>
