@using CarShop.Core.Constants
@using CarShop.Core.Models
@model IEnumerable<CarCardViewModel>
@{
	ViewData["Title"] = "Cars";
}

<div class="text-center">
	<h1 class="display-4">All Cars</h1>
</div>
@foreach (var car in Model)
{
	@await Html.PartialAsync("_CarCardPartial", car)
}
