@using CarShop.Core.Constants
@using CarShop.Core.Models
@model CarsByBrandViewModel
@{
	ViewData["Title"] = $"{Model.BrandName} Cars";
}

<div class="text-center">
	<h1 class="display-4">Cars of @Model.BrandName</h1>
</div>
@foreach (var car in Model.Cars)
{
	@await Html.PartialAsync("_CarCardPartial", car)
}
