@using CarShop.Core.Models
@model UserEditViewModel
@{
	ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/style/edit-user-style.css">

<div class="main">
	<form method="post">
		<h2>Change Names</h2>

		<div class="names">
			<div class="name">
				<p>First Name</p>
				<input asp-for="FirstName" aria-required="true" type="text" />
				<br />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="name">
				<p>Last Name</p>
				<input asp-for="LastName" aria-required="true" type="text" />
				<br />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>

		<div class="actions">
			<button type="submit" class="save">Save</button>
		</div>
	</form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
